.view-field {
  display: grid;
  grid-template-rows: 100vh;
  grid-template-columns: 10% 1fr;
}

.nav-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-row: 1;
  grid-column: 1;
  background-color: blue;
  border-right: 1px solid black;
  margin-right: 5px;
}

.link-button {
  font-weight: bold;
  margin-bottom: 5px;
}

.view-field:last-child {
  grid-row: 1;
  grid-column: 2;
}